@import "tailwindcss";

@font-face {
  font-family: "Aktiv Grotesk";
  src: url(/fonts/AktivGrotesk/AktivGrotesk-Regular.ttf);
}

@font-face {
  font-family: "Aktiv Grotesk Bold";
  src: url(/fonts/AktivGrotesk/AktivGrotesk-Bold.ttf);
}

body {
  font-family: "Aktiv Grotesk", sans-serif;
  background-color: #f8f9fa;
}

.font-aktivgrotesk {
  font-family: "Aktiv Grotesk", sans-serif;
}

.font-aktivgroteskbold {
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.site-container {
  max-width: 96rem;
  margin: 0 auto;
}
